---
import { FavoritePokemons } from "@components/pokemons/favorite-pokemons";
import Title from "@components/shared/title.astro";
import MainLayout from "src/layouts/main-layout.astro";

const title = `Favorites`;
---

<MainLayout title={title}>
    <Title> Pokemones Favoritos </Title>
    <FavoritePokemons client:only="solid-js" />
</MainLayout>
